# Enforce LF line endings
* text=auto eol=lf

# These files are text and should be normalized
*.java text
*.kt text
*.kts text
*.gradle text
*.properties text
*.xml text
*.yml text
*.yaml text
*.json text
*.txt text
*.md text
*.sh text
gradlew text

# These files are binary and should not be normalized
*.jar binary
*.war binary
*.zip binary
*.tar binary
*.tar.gz binary
*.aar binary
*.apk binary
*.aab binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ttf binary
*.eof binary
*.eot binary
*.woff binary
*.woff2 binary 